<%# TODO: refactor DRY %>
<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1>Pagamentos</h1>

<%= link_to new_payment_path, class: 'btn btn-light btn-sm' do %>
  <i class="bi bi-plus"></i>
  Novo pagamento
<% end %>

<div id="payments">
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Associado</th>
        <th>Valor</th>
        <th>Pago em</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.id %></td>
          <td><%= payment.person.name %></td>
          <td><%= payment.amount %></td>
          <td><%= payment.paid_at %></td>
          <td class="text-center align-middle">
          <div class="btn-group" role="group" aria-label="Actions">
            <%= link_to payment, class: "btn btn-sm btn-primary" do %>
              <i class="bi bi-folder2-open"></i>
            <% end %>
            <%= link_to edit_payment_path(payment), class: "btn btn-sm btn-secondary" do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          </div>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @posts %>
